@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Open+Sans:wght@400;500&display=swap');
:root {
  --background: rgb(2,0,36);
  --color: '#fff';
  --font-family: 'Open Sans', sans-serif
}
body{
  margin: 0;
  padding: 0;
  background-color: #e2e2e2;
  color: var(--color);
  font-family: var(--font-family) 

}
/* body { */
  /* background: radial-gradient(circle, rgba(2,0,36,1) 28%, rgba(0,212,255,1) 49%, rgba(6,6,54,1) 70%); */
/* } */
.App {
  text-align: center;
}
