@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Open+Sans:wght@400;500&display=swap');
:root {
  --background: rgb(2,0,36);
  --color: '#fff';
  --font-family: 'Open Sans', sans-serif
}
body {
  margin: 0;
  font-family: var(--font-family),
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
